<form action="/puppy" method="post">
  <h1>Post the puppy you would like to be adopted.</h1>
  <label for="name"> Puppy Name</label>
  <input type="text" id="name" name="name"> <br>
  <label for="breed"> Puppy Breed</label>
  <input type="text" id="breed" name="breed"> <br>
  <label for="age"> Puppy Age    </label>
  <input type="text" id="age" name="age"> <br>
  <p></p>
  <input type="submit" id ="submit">

</form>
